.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 80%;
}

.emoji-chooser {
  margin-top: 0.5rem;
}

span {
  margin-left: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
